 .main{
    background-color: rgb(243, 242, 231);
    display:flex;
flex-wrap: wrap;
    gap:20px;
    align-items: center;
   height: 200vh;
   
   
 }

 .user-card{
    border:1 px solid black;
    background-color: #d3b3e4;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px; 
    margin-left:100px;
 
}
.user-card :hover{
    cursor: pointer;
background: rgb(221, 214, 204);

}
img{
    border-radius: 50px;
}
